@media (max-width: 1270px) {
  .container {
    width: 90%;
  }

  .burger {
    left: 5vw;
  }

  .main__img {
    width: 75%;
  }

  .title__h1 {
    font-size: 54px;
    line-height: 48px;
  }
}

@media (max-width: 780px) {
  #scene {
    display: none;
  }
  .burger {
    top: 5px;
  }

  .header__wrapper {
    padding-top: 15px;
  }

  .main__wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .title__h2 {
    font-size: 30px;
    line-height: 42px;
  }

  .wish {
    padding-bottom: 50px;
    &__wrapper {
      flex-direction: column;
    }

    &__form {
      margin-top: 0;
      padding: 5px;
    }
  }

  .form {
    
    &__inner {
      flex-direction: column;
    }

    &__range {
      margin-bottom: 0;
    }

    &__label {
      margin-top: 15px;
    }

    &__data {
      flex-direction: column;
    }
  }
  

  .visible {
    width: 100%;
  }

  .modal__link {
    font-size: 30px;
  }

}


