{% extends "layout/base.twig" %}

{% set title = "Home" %}

{% block header %}{% endblock %}



{% block content %}

<div id="fullpage">
    <label class="burger" for="check">
        <input type="checkbox" id="check"/> 
        <span></span>
        <span></span>
        <span></span>
    </label>
    <div class="section main" id="main">
        <div id="scene">
            <img src="/assets/img/grain1.png" data-depth="0.2" alt="" id="grain1">
            <img src="/assets/img/grain2.png" data-depth="0.3" alt="" id="grain2">
            <img src="/assets/img/grain3.png" data-depth="0.4" alt="" id="grain3">
            <img src="/assets/img/grain4.png" data-depth="0.5" alt="" id="grain4">
            <img src="/assets/img/grain5.png" data-depth="0.6" alt="" id="grain5">
        </div>
        

        <div class="jam-effect">
            <div class="waves"></div>
            <div class="jam"></div>
        </div>
        <header class="header">
          <div class="container">
            <div class="header__wrapper">
                <a href="#main" class="header__logo">
                    <svg width="150" height="19" viewBox="0 0 150 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.82764 8.49399C8.84487 7.57974 7.717 7.27499 6.39126 7.27499C4.76212 7.27499 3.8585 7.77426 3.8585 8.63015C3.8585 9.51847 4.67637 10.0113 6.45062 10.1215C9.06913 10.2901 12.3868 10.8671 12.3868 14.4917C12.3868 16.8973 10.3883 18.9722 6.41764 18.9722C4.22127 18.9722 2.02489 18.6156 0 16.5407L1.6951 14.1351C2.67787 15.2115 4.93361 16.0155 6.47701 16.0414C7.76977 16.0674 8.98339 15.406 8.98339 14.4074C8.98339 13.4673 8.19849 13.0782 6.22637 12.968C3.60786 12.7735 0.488084 11.8333 0.488084 8.7339C0.488084 5.58265 3.80574 4.47388 6.34509 4.47388C8.51509 4.47388 10.1442 4.88886 11.747 6.26996L9.82764 8.49399Z" fill="black"/>
                    <path d="M27.9395 11.7038C27.9395 15.6332 25.2088 18.8168 20.7039 18.8168C16.1991 18.8168 13.5014 15.6332 13.5014 11.7038C13.5014 7.80042 16.2584 4.59082 20.6776 4.59082C25.0967 4.59082 27.9395 7.80042 27.9395 11.7038ZM16.9378 11.7038C16.9378 13.7787 18.2042 15.7174 20.7105 15.7174C23.2169 15.7174 24.4833 13.7787 24.4833 11.7038C24.4833 9.65486 23.019 7.66426 20.7105 7.66426C18.2305 7.66426 16.9378 9.65486 16.9378 11.7038Z" fill="black"/>
                    <path d="M32.8664 4.9148V12.0084C32.8664 14.0832 34.0207 15.6589 36.2171 15.6589C38.3277 15.6589 39.7656 13.9147 39.7656 11.8398V4.85645L43.169 4.86941V18.5378H40.1019L39.8777 16.6834C38.4398 18.0645 37.1207 18.7323 35.1749 18.7323C31.8573 18.7323 29.4366 16.2684 29.4366 12.0343V4.90183L32.8664 4.9148Z" fill="black"/>
                    <path d="M50.7985 0.924561L50.853 4.89538H54.6785V7.80024H50.82V13.6942C50.82 14.9975 51.5522 15.633 52.6207 15.633C52.6207 15.633 53.4979 15.6395 54.3619 15.3217L54.9951 18.0191C54.9951 18.0191 53.4385 18.6416 52.3964 18.674C49.3822 18.7842 47.4166 17.0984 47.4166 13.6942V7.80024H44.8245V4.89538H47.4166V1.22541L50.7985 0.924561Z" fill="black"/>
                    <path d="M60.4695 0V6.72396C61.7095 5.14833 63.2265 4.675 64.8029 4.675C68.7406 4.675 70.4884 7.30104 70.4884 11.3147V18.5055H67.0521V11.3406C67.0521 8.85073 65.7263 7.80031 63.8993 7.80031C61.8744 7.80031 60.4629 9.48616 60.4629 11.5351V18.5055H57.0266V0.356623L60.4695 0Z" fill="black"/>
                    <path d="M82.0706 18.5964V11.2888C82.0706 9.49275 81.1142 7.85877 79.2278 7.85877C77.3678 7.85877 76.2729 9.49275 76.2729 11.2888V18.5899H72.8365V4.89556L76.0157 4.92798L76.2663 6.58789C76.9985 5.20679 78.6012 4.70752 79.927 4.70752C81.5891 4.70752 83.2446 5.36889 84.0361 7.25575C85.2761 5.31702 86.8789 4.76588 88.6795 4.76588C92.6172 4.76588 94.5629 7.14552 94.5629 11.237V18.5964H91.1265V11.237C91.1265 9.44088 90.368 7.91712 88.508 7.91712C86.648 7.91712 85.3025 9.49275 85.3025 11.2953L85.4938 18.5964H82.0706Z" fill="black"/>
                    <path d="M99.5822 12.8837C99.8065 14.5696 101.297 15.7886 103.718 15.7886C104.984 15.7886 106.646 15.3153 107.431 14.5177L109.628 16.651C108.163 18.1423 105.769 18.862 103.658 18.862C98.8765 18.862 96.0338 15.9572 96.0338 11.5869C96.0338 7.43714 98.9029 4.448 103.408 4.448C108.051 4.448 110.953 7.26856 110.412 12.8837H99.5822ZM107.121 10.0891C106.897 8.31898 105.492 7.43066 103.52 7.43066C101.66 7.43066 100.143 8.31898 99.635 10.0891H107.121Z" fill="black"/>
                    <path d="M127.04 0V18.512H123.835L123.611 16.6316C122.542 18.2656 120.827 18.8167 119.139 18.8167C115.056 18.8167 111.989 16.1583 111.989 11.6778C111.989 6.97684 115.003 4.53883 119.053 4.53883C120.517 4.53883 122.793 5.31692 123.611 6.72396V0.363107L127.04 0ZM115.412 11.6778C115.412 14.0574 117.16 15.6914 119.35 15.6914C121.52 15.6914 123.373 14.1417 123.373 11.6778C123.373 9.29813 121.513 7.69657 119.35 7.69657C117.16 7.69008 115.412 9.21383 115.412 11.6778Z" fill="black"/>
                    <path d="M133.319 1.97124C133.319 4.59728 129.27 4.59728 129.27 1.97124C129.263 -0.654801 133.319 -0.654801 133.319 1.97124ZM129.573 4.7918V18.4991H133.009V4.80477L129.573 4.7918Z" fill="black"/>
                    <path d="M146.689 4.85001L150 4.86946V18.5119H146.762L146.59 16.5213C145.799 18.1229 143.635 18.9009 142.085 18.9269C137.976 18.9528 134.935 16.4629 134.935 11.6777C134.935 6.97678 138.115 4.51284 142.171 4.53878C144.031 4.53878 145.799 5.39467 146.59 6.74984L146.689 4.85001ZM138.378 11.6777C138.378 14.2778 140.205 15.8275 142.487 15.8275C147.889 15.8275 147.889 7.55386 142.487 7.55386C140.205 7.55386 138.378 9.07761 138.378 11.6777Z" fill="black"/>
                    </svg>
                </a>
            </div>
          </div>     
        </header>
        <div class="main__content">
            <div class="container">
                <div class="main__wrapper">
                    <div class="main__title title">
                        <h1 class="title__text">Как понять, что греча твое все?</h1>
                        <span class="title__description">Укажи, чего ты хочешь <br> и получи подборку блюд из гречи</span>
                    </div>
                    <img src="/assets/img/main__img.png" alt="Гречневые оладьи" class="main__img">
                </div>
                <a href="#wish" class="main__start start">
                    <span class="start__text">Начать!</span>
                    <svg alt="Листай вниз" class="start__img" width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.5 0.255249V15.0986" stroke="white" stroke-width="3"/>
                    <path d="M1.68005 9.08105L8.49998 15.4998L15.3199 9.08105" stroke="white" stroke-width="3"/>
                    </svg>                        
                </a>
            </div>
        </div>

    </div>
    <div class="section" id="wish">
        <div class="container">
            <div class="wish__wrapper">
                <div class="wish__title"></div>
                <div class="wish__form"></div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <a href="#main" class="footer__logo">
                    <svg width="120" height="15" viewBox="0 0 120 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.56814 6.7033C7.79258 5.9818 6.9025 5.7413 5.85627 5.7413C4.5706 5.7413 3.8575 6.13531 3.8575 6.81076C3.8575 7.51178 4.50294 7.90067 5.90312 7.98766C7.96955 8.12071 10.5877 8.57612 10.5877 11.4365C10.5877 13.3349 9.01058 14.9724 5.87709 14.9724C4.14378 14.9724 2.41047 14.6909 0.8125 13.0535L2.15022 11.1551C2.92578 12.0045 4.70594 12.639 5.92394 12.6595C6.94414 12.6799 7.90189 12.158 7.90189 11.37C7.90189 10.628 7.28248 10.321 5.72614 10.234C3.65971 10.0805 1.19768 9.33855 1.19768 6.89263C1.19768 4.40577 3.81586 3.53076 5.81983 3.53076C7.53232 3.53076 8.81799 3.85825 10.0828 4.94817L8.56814 6.7033Z" fill="white"/>
                        <path d="M22.8614 9.23615C22.8614 12.337 20.7065 14.8495 17.1513 14.8495C13.5962 14.8495 11.4673 12.337 11.4673 9.23615C11.4673 6.15571 13.6431 3.6228 17.1305 3.6228C20.618 3.6228 22.8614 6.15571 22.8614 9.23615ZM14.1792 9.23615C14.1792 10.8736 15.1786 12.4036 17.1566 12.4036C19.1345 12.4036 20.1339 10.8736 20.1339 9.23615C20.1339 7.61917 18.9783 6.04826 17.1566 6.04826C15.1994 6.04826 14.1792 7.61917 14.1792 9.23615Z" fill="white"/>
                        <path d="M26.7496 3.87882V9.47681C26.7496 11.1142 27.6605 12.3577 29.3938 12.3577C31.0594 12.3577 32.1941 10.9812 32.1941 9.34377V3.83276L34.88 3.843V14.6296H32.4596L32.2826 13.1662C31.1479 14.2561 30.1069 14.7831 28.5714 14.7831C25.9532 14.7831 24.0429 12.8387 24.0429 9.49728V3.86858L26.7496 3.87882Z" fill="white"/>
                        <path d="M40.901 0.729736L40.944 3.86338H43.963V6.15579H40.918V10.8071C40.918 11.8357 41.4957 12.3371 42.339 12.3371C42.339 12.3371 43.0312 12.3422 43.7131 12.0915L44.2128 14.2202C44.2128 14.2202 42.9844 14.7114 42.162 14.737C39.7832 14.824 38.2321 13.4936 38.2321 10.8071V6.15579H36.1865V3.86338H38.2321V0.967157L40.901 0.729736Z" fill="white"/>
                        <path d="M48.533 0V5.30632C49.5116 4.06289 50.7088 3.68935 51.9528 3.68935C55.0603 3.68935 56.4396 5.76174 56.4396 8.92916V14.6039H53.7278V8.94962C53.7278 6.9847 52.6815 6.15574 51.2397 6.15574C49.6417 6.15574 48.5278 7.48616 48.5278 9.10313V14.6039H45.816V0.281435L48.533 0Z" fill="white"/>
                        <path d="M65.5798 14.6754V8.9086C65.5798 7.49119 64.8251 6.2017 63.3364 6.2017C61.8686 6.2017 61.0045 7.49119 61.0045 8.9086V14.6703H58.2926V3.86324L60.8015 3.88882L60.9993 5.19877C61.5771 4.10885 62.8419 3.71484 63.8882 3.71484C65.1999 3.71484 66.5063 4.23678 67.131 5.72582C68.1095 4.19584 69.3744 3.7609 70.7954 3.7609C73.9028 3.7609 75.4384 5.63883 75.4384 8.86766V14.6754H72.7265V8.86766C72.7265 7.45025 72.1279 6.24776 70.66 6.24776C69.1922 6.24776 68.1303 7.49119 68.1303 8.91371L68.2813 14.6754H65.5798Z" fill="white"/>
                        <path d="M79.3995 10.1675C79.5764 11.4979 80.7528 12.4599 82.6631 12.4599C83.6625 12.4599 84.9742 12.0863 85.5936 11.4569L87.3269 13.1404C86.1713 14.3173 84.2819 14.8853 82.6162 14.8853C78.8425 14.8853 76.5991 12.5929 76.5991 9.14406C76.5991 5.86919 78.8633 3.51025 82.4184 3.51025C86.0829 3.51025 88.3731 5.73615 87.9463 10.1675H79.3995ZM85.3489 7.96204C85.172 6.5651 84.0633 5.86407 82.5069 5.86407C81.0391 5.86407 79.8419 6.5651 79.4411 7.96204H85.3489Z" fill="white"/>
                        <path d="M101.068 0V14.609H98.5387L98.3618 13.1251C97.5185 14.4146 96.1652 14.8495 94.8327 14.8495C91.6107 14.8495 89.1903 12.7515 89.1903 9.21571C89.1903 5.50589 91.5691 3.5819 94.765 3.5819C95.9206 3.5819 97.7163 4.19593 98.3618 5.30632V0.286552L101.068 0ZM91.8918 9.21571C91.8918 11.0936 93.2711 12.3831 94.9992 12.3831C96.7117 12.3831 98.1744 11.1602 98.1744 9.21571C98.1744 7.33777 96.7065 6.07387 94.9992 6.07387C93.2711 6.06875 91.8918 7.27125 91.8918 9.21571Z" fill="white"/>
                        <path d="M106.024 1.55551C106.024 3.62789 102.828 3.62789 102.828 1.55551C102.823 -0.516875 106.024 -0.516875 106.024 1.55551ZM103.067 3.7814V14.5987H105.779V3.79163L103.067 3.7814Z" fill="white"/>
                        <path d="M116.574 3.82756L119.187 3.84291V14.6091H116.632L116.496 13.0382C115.872 14.3021 114.165 14.9161 112.941 14.9366C109.699 14.957 107.299 12.9921 107.299 9.21576C107.299 5.50594 109.808 3.56148 113.009 3.58195C114.477 3.58195 115.872 4.25739 116.496 5.32684L116.574 3.82756ZM110.016 9.21576C110.016 11.2677 111.458 12.4906 113.259 12.4906C117.522 12.4906 117.522 5.96135 113.259 5.96135C111.458 5.96135 110.016 7.16384 110.016 9.21576Z" fill="white"/>
                    </svg>
                </a>
            </div>
        </footer>
    </div>

    <div class="modal">
        <a href="#main" class="modal__link">Главная</a>
        <a href="#wish" class="modal__link">Подбор блюд</a>        
    </div>


</div>
  
{% endblock %}
