{% extends "layout/base.twig" %}

{% set title = "Home" %}

{% block header %}{% endblock %}



{% block content %}

<div id="fullpage">
    <div class="section main">
        <header class="header">
          <div class="container">
                <div class="header__wrapper">
                    <label class="header__burger burger" for="check">
                        <input type="checkbox" id="check"/> 
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>

                    <a href="#main" class="header__logo"><img src="/assets/img/logo.png" alt="SouthMedia"></a>
                </div>
          </div>     
        </header>

    </div>
    <div class="section">

    </div>

</div>
  
{% endblock %}
